```{=html}
<div class="work">
    <% for (const work of items) { %>
        <div class="work-entry">
            <div class="logo">
                <% if (work.url) { %>
                    <a href="<%= work.url %>" target="_blank"><img src="<%= work.logo %>" alt="<%= work.title %>" title="<%= work.title %>" /></a>
                <% } else { %>
                    <img src="<%= work.logo %>" alt="<%= work.title %>" title="<%= work.title %>" />
                <% } %>
            </div>
            <div class="body">
                <p class="work-title">
                    <% if (work.url) { %>
                        <a href="<%= work.url %>" target="_blank"><%= work.title %></a>
                    <% } else { %>
                        <%= work.title %>
                    <% } %>
                </p>
                <p class="work-details">
                    <% if (work.project) { %>
                        <span class="work-project"><b>Project : </b>
                            <% if (work.projecturl) { %>
                                <a href="<%= work.projecturl %>" target="_blank"><%= work.project %></a>
                            <% } else { %>
                                <%= work.project %>
                            <% } %>
                        </span>
                    <% } %>
                    <% if (work.funding) { %>
                        <br> <span class="work-funding"><b>Funding: </b><%= work.funding %></span>
                    <% } %>
                    <% if (work.project || work.funding) { %>
                        <br>
                    <% } %>
                    <span class="work-studyarea"><b>Study area: </b><%= work.studyarea %></span>
                    <br> <span class="work-tools"><b>Tools: </b><%= work.tools %></span>
                </p>
                <p class="work-description"><%= work.description %></p>

                <ul class="work-semesters">
                    <% for (const semester of work.semester) { %>
                        <% if (semester.url) { %>
                            <li><a href="<%= semester.url %>"><i class="fa-solid fa-calendar"></i> <%= semester.name %></a></li>
                        <% } else { %>
                            <li class="no-link"><i class="fa-solid fa-calendar"></i> <%= semester.name %></li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
        </div>
    <% } %>
</div>
```
